{% capture rss_link %}{{ "/feed.xml" | relative_url }}{% endcapture %}
<footer class="site-footer header-footer">
   <div class="footer-col-wrapper wrapper">
      {% include social-item.html
         desc="github"
         image="/assets/github.svg"
         link="https://www.github.com/alanxoc3"
      %}

      {% include social-item.html
         desc="twitter"
         image="/assets/twitter.svg"
         link="https://www.twitter.com/alanxoc3"
      %}

      {% include social-item.html
         desc="pico8"
         image="/assets/pico-8.svg"
         link="https://www.lexaloffle.com/bbs/?uid=17205"
      %}

      {% include social-item.html
         desc="email"
         image="/assets/email.svg"
         link="mailto:alanxoc3@gmail.com"
      %}

      {% include social-item.html
         desc="rss"
         image="/assets/rss.svg"
         link=rss_link
      %}

   </div>
</footer>
