<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
     <ul class="contact-list">
       <li class="p-name">
         {%- if site.author -%}
           {{ site.author | escape }}
         {%- else -%}
           {{ site.title | escape }}
         {%- endif -%}
         </li>
         {%- if site.email -%}
         <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
         {%- endif -%}
     </ul>

      {%
         include
         social-item.html

         image="/assets/github.svg"

         title=site.github_username
         link_beginning="https://github.com/"
         link_end=site.github_username
      %}

      {%
         include
         social-item.html

         image="/assets/twitter.svg"

         title=site.twitter_username
         link_beginning="https://www.twitter.com/"
         link_end=site.twitter_username
      %}

   {%- if site.rss -%}
   <div class="social-list-item">
      <a class="social-container" href="{{ 'feed.xml' | relative_url }}">
         <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}">
            </use>
         </svg>
         <span>{{ site.rss | escape }}
         </span>
      </a>
   </div>
   {%- endif -%}
    </div>

  </div>

</footer>
