---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
     {% include post_title.html page=page %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <em>
      PS: Please keep me motivated by <strong>following</strong> or <strong>messaging</strong> me with the icons below!
    </em>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
